@use '../constants';
@use '../mixins/text-styles';

$prefix: constants.$veera-prefix;

@mixin variant-colors($variant) {
  background: var(--#{$prefix}-alerts-background-#{$variant});
  border-color: var(--#{$prefix}-alerts-border-#{$variant});
  color: var(--#{$prefix}-alerts-text-#{$variant});
}

@mixin base-colors {
  @include variant-colors('info');
}

.#{$prefix}-alert {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: var(--#{$prefix}-alerts-sizing-inner-spacing);
  padding: var(--#{$prefix}-alerts-sizing-padding-y) var(--#{$prefix}-alerts-sizing-padding-x);
  border-radius: var(--#{$prefix}-alerts-sizing-corner-radius);
  border-width: 1px;
  border-style: solid;

  @include base-colors;

  .#{$prefix}-close-button {
    position: absolute;
    top: 0;
    right: 0;
  }

  &__header {
    display: flex;
    align-items: flex-start;
    gap: var(--#{$prefix}-spacing-baseline-03);
    padding-right: 24px;
  }

  &__title {
    @include text-styles.headings-large-h5;

    margin: 0;
  }

  &__body {
    @include text-styles.body-small;

    a {
      color: inherit;
    }
  }

  &--info {
    @include base-colors;
  }

  &--success {
    @include variant-colors('success');
  }

  &--warning {
    @include variant-colors('warning');
  }

  &--error {
    @include variant-colors('error');
  }
}
