@use '../constants';
@use '../mixins/text-styles';

$prefix: constants.$veera-prefix;

.#{$prefix}-collapse {
  display: grid;
  grid-template-rows: 0fr;
  transition: grid-template-rows 0.3s;

  &--expanded {
    grid-template-rows: 1fr;

    > .#{$prefix}-collapse__content {
      animation: overflow-transition ease-in-out 0.3s;
      animation-fill-mode: forwards;
    }
  }

  &__content {
    overflow: hidden;
  }

  @keyframes overflow-transition {
    100% {
      overflow: visible;
    }
  }
}
