@use '../constants';
@use '../mixins/text-styles';

$prefix: constants.$veera-prefix;

.#{$prefix}-collapse {
  display: grid;
  grid-template-rows: 0fr;
  transition: grid-template-rows 0.3s;

  &--expanded {
    grid-template-rows: 1fr;
  }

  &__content {
    overflow: hidden;
  }
}
