@use '../constants';
@use '../mixins/text-styles';
@use '../mixins/focus';
@use '../mixins/media';

$prefix: constants.$veera-prefix;

.#{$prefix}-footer {
  grid-area: footer;
  display: grid;
  grid-template-areas:
    'content'
    'socials';
  background: var(--#{$prefix}-footer-colors-background);

  &__socials {
    grid-area: socials;
    display: flex;
    background-color: var(--#{$prefix}-footer-colors-socials);
  }

  &__social-link {
    @include focus.focus-ring-inset;

    display: flex;
    justify-content: center;
    align-items: center;
    height: var(--#{$prefix}-footer-social-media-links-sizing-width-height);
    width: var(--#{$prefix}-footer-social-media-links-sizing-width-height);
    background: var(--#{$prefix}-footer-social-media-links-background-default);
    border-right: 1px solid var(--#{$prefix}-footer-social-media-links-border);
    color: var(--#{$prefix}-footer-social-media-links-text-default);
    text-decoration: none;

    &:focus {
      background: var(--#{$prefix}-footer-social-media-links-background-focus);
      color: var(--#{$prefix}-footer-social-media-links-text-focus);
    }

    &:hover {
      background: var(--#{$prefix}-footer-social-media-links-background-hover);
      color: var(--#{$prefix}-footer-social-media-links-text-hover);
    }

    &:active {
      background: var(--#{$prefix}-footer-social-media-links-background-active);
      color: var(--#{$prefix}-footer-social-media-links-text-active);
    }

    &--disabled {
      pointer-events: none;
      background: var(--#{$prefix}-footer-social-media-links-background-disabled);
      color: var(--#{$prefix}-footer-social-media-links-text-disabled);
    }
  }

  &__content {
    &.#{$prefix}-row {
      --#{$prefix}-gx: var(--#{$prefix}-footer-spacing-sm-footer-content-spacing-x);
      --#{$prefix}-gy: var(--#{$prefix}-footer-spacing-sm-footer-content-spacing-y);
    }

    grid-area: content;
    padding: var(--#{$prefix}-footer-spacing-sm-footer-content-padding-y)
      var(--#{$prefix}-footer-spacing-sm-footer-content-padding-x);
  }

  &__blocks.#{$prefix}-row {
    --#{$prefix}-gx: var(--#{$prefix}-footer-spacing-sm-content-area-spacing-x);
    --#{$prefix}-gy: var(--#{$prefix}-footer-spacing-sm-content-area-spacing-y);
  }

  &__content-block {
    height: 100%;
    padding: var(--#{$prefix}-footer-spacing-sm-content-block-padding-y)
      var(--#{$prefix}-footer-spacing-sm-content-block-padding-x);
    border-top: 1px solid var(--#{$prefix}-footer-border-default);
    display: flex;
    flex-direction: column;
    gap: var(--#{$prefix}-footer-spacing-sm-content-block-inner-spacing);
  }

  @include media.tablet-and-up {
    grid-template-areas: 'socials content';
    grid-template-columns: max-content auto;

    &__socials {
      flex-direction: column;
    }

    &__social-link {
      border-right: none;
      border-bottom: 1px solid var(--#{$prefix}-footer-social-media-links-border);
    }

    &__content {
      padding: var(--#{$prefix}-footer-spacing-md-footer-content-padding-y)
        var(--#{$prefix}-footer-spacing-md-footer-content-padding-x);
      &.#{$prefix}-row {
        --#{$prefix}-gx: var(--#{$prefix}-footer-spacing-md-footer-content-spacing-x);
        --#{$prefix}-gy: var(--#{$prefix}-footer-spacing-md-footer-content-spacing-y);
      }
    }

    &__blocks.#{$prefix}-row {
      --#{$prefix}-gx: var(--#{$prefix}-footer-spacing-md-content-area-spacing-x);
      --#{$prefix}-gy: var(--#{$prefix}-footer-spacing-md-content-area-spacing-y);
    }

    &__content-block {
      padding: var(--#{$prefix}-footer-spacing-md-content-block-padding-y)
        var(--#{$prefix}-footer-spacing-md-content-block-padding-x);
      gap: var(--#{$prefix}-footer-spacing-md-content-block-inner-spacing);
      border-top: none;
      border-left: 1px solid var(--#{$prefix}-footer-border-default);
    }
  }

  @include media.desktop-and-up {
    &__content {
      padding: var(--#{$prefix}-footer-spacing-lg-footer-content-padding-y)
        var(--#{$prefix}-footer-spacing-lg-footer-content-padding-x);
      &.#{$prefix}-row {
        --#{$prefix}-gx: var(--#{$prefix}-footer-spacing-lg-footer-content-spacing-x);
        --#{$prefix}-gy: var(--#{$prefix}-footer-spacing-lg-footer-content-spacing-y);
      }
    }

    &__blocks.#{$prefix}-row {
      --#{$prefix}-gx: var(--#{$prefix}-footer-spacing-lg-content-area-spacing-x);
      --#{$prefix}-gy: var(--#{$prefix}-footer-spacing-lg-content-area-spacing-y);
    }

    &__content-block {
      padding: var(--#{$prefix}-footer-spacing-lg-content-block-padding-y)
        var(--#{$prefix}-footer-spacing-lg-content-block-padding-x);
      gap: var(--#{$prefix}-footer-spacing-lg-content-block-inner-spacing);
    }
  }
}
