@use '../constants';
@use '../mixins/text-styles';
@use '../mixins/focus';
@use '../mixins/media';

$prefix: constants.$veera-prefix;

.#{$prefix}-footer {
  grid-area: footer;
  display: grid;
  grid-template-areas:
    'content'
    'socials';
  background: var(--#{$prefix}-footer-colors-background);

  &__socials {
    grid-area: socials;
    display: flex;
    background-color: var(--#{$prefix}-footer-colors-socials);
  }

  &__social-link {
    @include focus.focus-ring-inset;

    display: flex;
    justify-content: center;
    align-items: center;
    height: var(--#{$prefix}-footer-social-media-links-sizing-width-height);
    width: var(--#{$prefix}-footer-social-media-links-sizing-width-height);
    background: var(--#{$prefix}-footer-social-media-links-background-default);
    border-right: 1px solid var(--#{$prefix}-footer-social-media-links-border);
    color: var(--#{$prefix}-footer-social-media-links-text-default);
    text-decoration: none;

    &:focus {
      background: var(--#{$prefix}-footer-social-media-links-background-focus);
      color: var(--#{$prefix}-footer-social-media-links-text-focus);
    }

    &:hover {
      background: var(--#{$prefix}-footer-social-media-links-background-hover);
      color: var(--#{$prefix}-footer-social-media-links-text-hover);
    }

    &:active {
      background: var(--#{$prefix}-footer-social-media-links-background-active);
      color: var(--#{$prefix}-footer-social-media-links-text-active);
    }

    &--disabled {
      pointer-events: none;
      background: var(--#{$prefix}-footer-social-media-links-background-disabled);
      color: var(--#{$prefix}-footer-social-media-links-text-disabled);
    }
  }

  &__content {
    grid-area: content;
    padding: var(--#{$prefix}-footer-spacing-padding-y) var(--#{$prefix}-footer-spacing-padding-x);
    display: flex;
    flex-direction: column;
    gap: var(--#{$prefix}-footer-content-block-inner-spacing);
  }

  &__content-block {
    padding: var(--#{$prefix}-footer-content-block-padding-y) 0;
    border-top: 1px solid var(--#{$prefix}-footer-border-default);
    display: flex;
    flex-direction: column;
    gap: var(--#{$prefix}-footer-content-block-inner-spacing);
  }

  @include media.tablet-and-up {
    grid-template-areas: 'socials content';
    grid-template-columns: max-content auto;

    &__socials {
      flex-direction: column;
    }

    &__social-link {
      border-right: none;
      border-bottom: 1px solid var(--#{$prefix}-footer-social-media-links-border);
    }

    &__content {
      flex-direction: row;
    }

    &__content-block {
      padding: 0 var(--#{$prefix}-footer-content-block-padding-x);
      border-top: none;
      border-left: 1px solid var(--#{$prefix}-footer-border-default);
      flex-grow: 1;
    }
  }

  @include media.desktop-and-up {
    &__logo-block {
      margin-right: auto;
    }

    &__content-block {
      flex-grow: 0;
    }
  }
}
