@use '../constants';
@use '../mixins/text-styles';
@use '../mixins/focus';
@use '../mixins/media';

$prefix: constants.$veera-prefix;

.#{$prefix}-header {
  $self: &;

  grid-area: header;
  background: var(--#{$prefix}-header-background-background);
  box-shadow: var(--#{$prefix}-box-shadow-elevation-2px);

  &__row {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    padding: var(--#{$prefix}-header-sizing-mobile-padding-y)
      var(--#{$prefix}-header-sizing-mobile-padding-x);
    & > #{ $self }__column {
      width: 100%;
    }

    @include media.tablet-and-up {
      padding: var(--#{$prefix}-header-sizing-tablet-and-desktop-padding-y)
        var(--#{$prefix}-header-sizing-tablet-and-desktop-padding-x);
    }

    &--top-bar {
      padding-top: 0;
      padding-bottom: 0;
    }
  }

  &__column {
    display: flex;

    &--start {
      justify-content: flex-start;
    }

    &--center {
      justify-content: center;
    }

    &--end {
      justify-content: flex-end;
    }
  }

  &__block {
    display: flex;
    align-items: center;
    padding: 0 20px;
    border-left: 1px solid var(--#{$prefix}-header-border-border);

    &:first-child {
      padding-left: 0;
      border: none;
    }

    &:last-child {
      padding-right: 0;
    }
  }

  &__menu-item {
    @include text-styles.links-small;

    padding: 8px;
    color: var(--#{$prefix}-colors-link-default);

    &--selected {
      @include text-styles.body-small-bold;

      color: var(--#{$prefix}-colors-link-active);
    }
  }

  &__hr {
    border-bottom: 1px solid var(--#{$prefix}-header-border-border);
  }

  &__vr {
    border-left: 1px solid var(--#{$prefix}-header-border-border);
  }
}
