@use '../constants';
@use '../mixins/text-styles';
@use '../mixins/focus';
@use '../mixins/media';

$prefix: constants.$veera-prefix;

@mixin button-colors($state) {
  border: 2px solid var(--#{$prefix}-navigation-mobile-header-buttons-border-#{$state});
  background: var(--#{$prefix}-navigation-mobile-header-buttons-background-#{$state});
  color: var(--#{$prefix}-navigation-mobile-header-buttons-text-#{$state});
}

.#{$prefix}-header {
  $self: &;

  grid-area: header;
  background: var(--#{$prefix}-header-background-background);
  box-shadow: var(--#{$prefix}-box-shadow-elevation-2px);

  &__row {
    padding: var(--#{$prefix}-header-sizing-mobile-padding-y)
      var(--#{$prefix}-header-sizing-mobile-padding-x);

    & > #{ $self }__grid-column {
      width: 100%;
    }

    @include media.desktop-and-up {
      padding: var(--#{$prefix}-header-sizing-tablet-and-desktop-padding-y)
        var(--#{$prefix}-header-sizing-tablet-and-desktop-padding-x);
    }

    &--top-bar {
      padding-top: 0;
      padding-bottom: 0;
    }

    &--with-grid {
      display: flex;
      align-items: center;

      @include media.desktop-and-up {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-areas: 'start center end';
      }
    }
  }

  &__grid-column {
    display: flex;

    &--start {
      grid-area: start;
      margin-right: auto;
      justify-content: flex-start;
    }

    &--center {
      grid-area: center;
      margin-left: auto;
      margin-right: auto;
      justify-content: center;
    }

    &--end {
      grid-area: end;
      margin-left: auto;
      justify-content: flex-end;
    }
  }

  &__menu-item {
    @include text-styles.links-small;

    padding: 8px;
    color: var(--#{$prefix}-colors-link-default);

    &--selected {
      @include text-styles.body-small-bold;

      color: var(--#{$prefix}-colors-link-active);
    }
  }

  &__hr {
    border-bottom: 1px solid var(--#{$prefix}-header-border-border);
  }

  &__vr {
    border-left: 1px solid var(--#{$prefix}-header-border-border);
  }

  &__button {
    @include text-styles.body-extra-small;
    @include button-colors('default');
    @include focus.focus-ring;

    outline: none;
    display: inline-flex;
    height: var(--#{$prefix}-navigation-vertical-sizing-mobile-icon-only-width-height);
    padding: var(--#{$prefix}-navigation-vertical-sizing-mobile-icon-only-padding);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    gap: 0;
    text-decoration: none;

    &:focus {
      @include button-colors('focus');
    }

    &:hover {
      @include button-colors('hover');
    }

    &:active {
      @include button-colors('active');
    }

    &:disabled {
      @include button-colors('disabled');
    }

    &--selected {
      @include button-colors('selected');
    }
  }
}
