@use '../constants';

$prefix: constants.$veera-prefix;

.#{$prefix}-logo,
.#{$prefix}-logo:visited {
  color: var(--#{$prefix}-colors-brand-logo);

  svg {
    height: 100%;
    width: 100%;
    max-width: 146px;
  }
}
