@use '../constants';
@use '../mixins/text-styles';
@use '../mixins/media';
@use '../mixins/focus';

$prefix: constants.$veera-prefix;

@mixin button-colors($state) {
  background: var(--#{$prefix}-paging-button-background-#{$state});
  border-color: var(--#{$prefix}-paging-button-border-#{$state});
  color: var(--#{$prefix}-paging-button-text-#{$state});
}

@mixin container-padding($size) {
  padding: var(--#{$prefix}-paging-sizing-#{$size}-padding-top)
    var(--#{$prefix}-paging-sizing-#{$size}-padding-x)
    var(--#{$prefix}-paging-sizing-#{$size}-padding-bottom)
    var(--#{$prefix}-paging-sizing-#{$size}-padding-x);
}

.#{$prefix}-pagination {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--#{$prefix}-spacing-baseline-04);
  border-top: 1px solid var(--#{$prefix}-table-cells-header-border-border);

  @include container-padding('small');

  @include media.desktop-and-up {
    flex-direction: row;
    justify-content: space-between;

    @include container-padding('large');
  }

  &__pager {
    margin: 0 auto;
    display: flex;
    align-items: center;
    gap: 8px;
  }

  &__pages {
  }

  &__page {
    @include text-styles.body-small-bold;
    @include focus.focus-ring;

    $page: &;

    cursor: pointer;
    outline: none;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: var(--#{$prefix}-paging-button-sizing-min-width-height);
    min-width: var(--#{$prefix}-paging-button-sizing-min-width-height);
    padding: var(--#{$prefix}-paging-button-sizing-padding-y)
      var(--#{$prefix}-paging-button-sizing-padding-x);
    border-radius: var(--#{$prefix}-paging-button-sizing-radius);
    flex-shrink: 0;
    background: var(--#{$prefix}-paging-button-background-default);
    border: 2px solid var(--#{$prefix}-paging-button-border-default);
    color: var(--#{$prefix}-paging-button-text-default);

    &:focus {
      @include button-colors('focus');
    }

    &:hover {
      @include button-colors('hover');
    }

    &:active {
      @include button-colors('active');
    }

    &#{$page}--selected {
      @include button-colors('selected');
    }

    &:disabled {
      @include button-colors('disabled');
    }
  }

  &__items-limit {
    @include text-styles.body-small;

    display: flex;
    align-items: center;
    gap: 8px;
    color: var(--#{$prefix}-colors-text-secondary);

    .#{$prefix}-form-control,
    .#{$prefix}-select {
      width: 82px;
    }
  }
}
