@use '../constants';
@use '../mixins/text-styles';

$prefix: constants.$veera-prefix;

.#{$prefix}-autocomplete {
  position: relative;

  .#{$prefix}-close-button {
    position: absolute;
    top: 50%;
    right: 40px;
    transform: translateY(-50%);
  }
}
