@use '../constants';
@use '../mixins/text-styles';

$prefix: constants.$veera-prefix;

@mixin vertical-row {
  gap: 0;
  flex-direction: column;
  align-items: start;
  .#{$prefix}-form-row-label {
    width: auto;
    text-align: left;
  }
}

.#{$prefix}-form-group {
  --#{$prefix}-form-group-width: 100%;
  --#{$prefix}-form-y-gap: var(--#{$prefix}-form-sizing-md-inner-spacing);
  --#{$prefix}-form-label-width: 300px;
  --#{$prefix}-form-x-gap: 16px;

  display: flex;
  flex-direction: column;
  max-width: var(--#{$prefix}-form-group-width);
  gap: var(--#{$prefix}-form-y-gap);

  &--sm {
    --#{$prefix}-form-y-gap: var(--#{$prefix}-form-sizing-sm-inner-spacing);
  }

  &--lg {
    --#{$prefix}-form-y-gap: var(--#{$prefix}-form-sizing-lg-inner-spacing);
  }

  &--vertical {
    .#{$prefix}-form-row {
      @include vertical-row;
    }
  }
}

.#{$prefix}-form-row {
  --#{$prefix}-form-row-label-width: var(--#{$prefix}-form-label-width);
  --#{$prefix}-form-row-gap: var(--#{$prefix}-form-x-gap);

  display: flex;
  gap: var(--#{$prefix}-form-row-gap, 16px);

  &--vertical {
    @include vertical-row;
  }
}

.#{$prefix}-form-row-label {
  @include text-styles.body-medium;

  box-sizing: border-box;
  text-align: right;
  flex-shrink: 0;
  width: var(--#{$prefix}-form-row-label-width, 300px);

  &--required::after {
    content: '*';
    color: var(--#{$prefix}-inputs-feedback-error);
  }
}

.#{$prefix}-form-row-input {
  flex-grow: 1;
  width: 100%;
  max-width: var(--#{$prefix}-form-row-input-width, 100%);

  &--readonly {
    @include text-styles.body-medium-bold;
  }
}

.#{$prefix}-selection-controls-group {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 24px;

  &--vertical {
    flex-direction: column;
    gap: 0;
  }
}
