@use '../constants';
@use '../mixins/text-styles';
@use '../mixins/borders';
@use '../mixins/focus';

$prefix: constants.$veera-prefix;

@mixin sizing-properties($size, $self) {
  #{ $self }__input,
  #{ $self }__country-select {
    padding: var(--#{$prefix}-inputs-sizing-#{$size}-padding-y)
      var(--#{$prefix}-inputs-sizing-#{$size}-padding-x);
  }

  #{ $self }__input {
    @include borders.set-border-right-radius(
      var(--#{$prefix}-inputs-sizing-#{$size}-corner-radius)
    );
  }

  #{ $self }__country-select {
    @include borders.set-border-left-radius(var(--#{$prefix}-inputs-sizing-#{$size}-corner-radius));

    gap: var(--#{$prefix}-inputs-sizing-#{$size}-inner-spacing);
  }
}

.#{$prefix}-phone-input {
  $self: &;

  @include sizing-properties('md', $self);
  @include text-styles.body-medium;

  --#{$prefix}-dropdown-menu-max-width: 304px;

  position: relative;
  display: flex;
  background: var(--#{$prefix}-inputs-background-default);

  &__country-select {
    display: flex;
    align-items: center;
    width: auto;

    &:focus {
      z-index: 1;
    }
  }

  &__input {
    margin-left: -1px;
  }

  &--sm {
    @include sizing-properties('sm', $self);
  }

  &--md {
    @include sizing-properties('md', $self);
  }

  &--lg {
    @include sizing-properties('lg', $self);
  }
}
