@use '../constants';

$prefix: constants.$veera-prefix;

.#{$prefix}-select {
  position: relative;

  &__trigger {
    position: relative;
    display: flex;
  }

  &__trigger-text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__trigger-icon {
    margin-left: auto;
  }

  .#{$prefix}-dropdown__option {
    display: flex;
    align-items: center;
    gap: var(--#{$prefix}-dropdown-menu-menuitem-sizing-singleselect-inner-spacing);
  }

  &--multiselect {
    .#{$prefix}-dropdown__option__option {
      padding: var(--#{$prefix}-dropdown-menu-menuitem-sizing-multiselect-padding-top)
        var(--#{$prefix}-dropdown-menu-menuitem-sizing-multiselect-padding-x)
        var(--#{$prefix}-dropdown-menu-menuitem-sizing-multiselect-padding-bottom)
        var(--#{$prefix}-dropdown-menu-menuitem-sizing-multiselect-padding-x);
      gap: var(---#{$prefix}-dropdown-menu-menuitem-sizing-multiselect-inner-spacing);
    }
  }
}
