@use '../constants';
@use '../mixins/text-styles';

$prefix: constants.$veera-prefix;

.#{$prefix}-form-control {
  @include text-styles.body-regular;

  box-sizing: border-box;
  display: block;
  width: 100%;
  outline: none;
  color: var(--#{$prefix}-colors-text-primary);
  border: 1px solid var(--#{$prefix}-inputs-border-default);
  background: var(--#{$prefix}-inputs-background-default);

  &::placeholder {
    color: var(--#{$prefix}-colors-text-tertiary);
  }

  &:hover {
    border-color: var(--#{$prefix}-inputs-border-hover);
    background: var(--#{$prefix}-inputs-background-hover);
  }

  &:focus {
    border-color: var(--#{$prefix}-inputs-border-focus);
    background: var(--#{$prefix}-inputs-background-focus);
    box-shadow: var(--#{constants.$veera-prefix}-box-shadow-button-focus-ring);
  }

  &:active {
    border-color: var(--#{$prefix}-inputs-border-active);
    background: var(--#{$prefix}-inputs-background-active);
  }

  &:disabled {
    border-color: var(--#{$prefix}-inputs-border-disabled);
    background: var(--#{$prefix}-inputs-background-disabled);
    color: var(--#{$prefix}-inputs-text-disabled);
  }

  &--error {
    border-color: var(--#{$prefix}-inputs-border-error);
    background: var(--#{$prefix}-inputs-background-error);
  }

  &--success {
    border-color: var(--#{$prefix}-inputs-border-success);
    background: var(--#{$prefix}-inputs-background-success);
  }

  &--sm {
    padding: var(--#{constants.$veera-prefix}-inputs-sizing-sm-padding-y)
      var(--#{constants.$veera-prefix}-inputs-sizing-sm-padding-x);
    border-radius: var(--#{constants.$veera-prefix}-inputs-sizing-sm-corner-radius);
  }

  &--md {
    padding: var(--#{constants.$veera-prefix}-inputs-sizing-md-padding-y)
      var(--#{constants.$veera-prefix}-inputs-sizing-md-padding-x);
    border-radius: var(--#{constants.$veera-prefix}-inputs-sizing-md-corner-radius);
  }

  &--lg {
    padding: var(--#{constants.$veera-prefix}-inputs-sizing-lg-padding-y)
      var(--#{constants.$veera-prefix}-inputs-sizing-lg-padding-x);
    border-radius: var(--#{constants.$veera-prefix}-inputs-sizing-lg-corner-radius);
  }
}
