@use '../constants';
@use '../mixins/text-styles';

$prefix: constants.$veera-prefix;
$thumb-movement-length: calc(
  var(--#{$prefix}-switch-button-sizing-width) - 2 *
    var(--#{$prefix}-switch-button-sizing-padding-x) -
    var(--#{$prefix}-switch-button-sizing-thumb-size)
);
$thumb-x-spacing: calc(var(--#{$prefix}-switch-button-sizing-padding-x));

@function get-checkmark() {
  @return url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none"><path d="M5.86339 10.5831L3.08339 7.80312L2.13672 8.74312L5.86339 12.4698L13.8634 4.46979L12.9234 3.52979L5.86339 10.5831Z" fill="white"/></svg>');
}

@mixin switch-knob {
  content: '';
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  left: $thumb-x-spacing;
  top: calc(var(--#{$prefix}-switch-button-sizing-padding-y));
  background: var(--#{$prefix}-switch-button-thumb-off-state-background-default);
  height: var(--#{$prefix}-switch-button-sizing-thumb-size);
  width: var(--#{$prefix}-switch-button-sizing-thumb-size);
  border-radius: 50%;
  transition: transform 0.3s;
}

@mixin input-styles {
  outline: none;
  margin: 0;
  cursor: pointer;
  appearance: none;
  position: relative;
  height: var(--#{$prefix}-switch-button-sizing-height);
  width: var(--#{$prefix}-switch-button-sizing-width);
  border-radius: var(--#{$prefix}-switch-button-sizing-corner-radius);
  background: var(--#{$prefix}-switch-button-track-off-state-background-default);
  border: 2px solid var(--#{$prefix}-switch-button-track-off-state-border-default);

  &::before {
    @include switch-knob;
  }

  &:disabled {
    pointer-events: none;
    background: var(--#{$prefix}-switch-button-track-off-state-background-disabled);
    border-color: var(--#{$prefix}-switch-button-track-off-state-border-disabled);

    &::before {
      background: var(--#{$prefix}-switch-button-thumb-off-state-background-disabled);
    }
  }

  &:focus {
    box-shadow: var(--#{$prefix}-box-shadow-focus-ring);
    background: var(--#{$prefix}-switch-button-track-off-state-background-focus);
    border-color: var(--#{$prefix}-switch-button-track-off-state-border-focus);

    &::before {
      background: var(--#{$prefix}-switch-button-thumb-off-state-background-focus);
    }
  }

  &:hover {
    background: var(--#{$prefix}-switch-button-track-off-state-background-hover);
    border-color: var(--#{$prefix}-switch-button-track-off-state-border-hover);

    &::before {
      background: var(--#{$prefix}-switch-button-thumb-off-state-background-hover);
    }
  }

  &:active {
    background: var(--#{$prefix}-switch-button-track-off-state-background-active);
    border-color: var(--#{$prefix}-switch-button-track-off-state-border-active);

    &::before {
      background: var(--#{$prefix}-switch-button-thumb-off-state-background-active);
    }
  }

  &:checked {
    background: var(--#{$prefix}-switch-button-track-on-state-background-default);
    border-color: var(--#{$prefix}-switch-button-track-on-state-border-default);

    &::before {
      transform: translateX($thumb-movement-length);
      background: var(--#{$prefix}-switch-button-thumb-on-state-background-default);
    }

    &:disabled {
      pointer-events: none;
      background: var(--#{$prefix}-switch-button-track-on-state-background-disabled);
      border-color: var(--#{$prefix}-switch-button-track-on-state-border-disabled);

      &::before {
        background: var(--#{$prefix}-switch-button-thumb-on-state-background-disabled);
      }
    }

    &:focus {
      background: var(--#{$prefix}-switch-button-track-on-state-background-focus);
      border-color: var(--#{$prefix}-switch-button-track-on-state-border-focus);

      &::before {
        background: var(--#{$prefix}-switch-button-thumb-on-state-background-focus);
      }
    }

    &:hover {
      background: var(--#{$prefix}-switch-button-track-on-state-background-hover);
      border-color: var(--#{$prefix}-switch-button-track-on-state-border-hover);

      &::before {
        background: var(--#{$prefix}-switch-button-thumb-on-state-background-hover);
      }
    }

    &:active {
      background: var(--#{$prefix}-switch-button-track-on-state-background-active);
      border-color: var(--#{$prefix}-switch-button-track-on-state-border-active);

      &::before {
        background: var(--#{$prefix}-switch-button-thumb-on-state-background-active);
      }
    }
  }
}

@mixin with-check-input-styles {
  &::after {
    position: absolute;
    top: 50%;
    right: calc(
      $thumb-x-spacing + var(--#{$prefix}-switch-button-sizing-thumb-size) / 2 +
        $thumb-movement-length
    );
    width: 16px;
    height: 16px;
    content: '';
    mask-image: get-checkmark();
    -webkit-mask-image: get-checkmark();
    background: var(--#{$prefix}-switch-button-icon-on-state-fill-default);
    transform: translate(50%, -50%);
    opacity: 0;
    transition:
      right 0.3s,
      opacity 0.3s;
  }

  &:checked {
    &::after {
      right: calc($thumb-x-spacing + var(--#{$prefix}-switch-button-sizing-thumb-size) / 2);
      opacity: 1;
    }

    &:focus::after {
      background: var(--#{$prefix}-switch-button-icon-on-state-fill-focus);
    }

    &:hover::after {
      background: var(--#{$prefix}-switch-button-icon-on-state-fill-hover);
    }

    &:active::after {
      background: var(--#{$prefix}-switch-button-icon-on-state-fill-active);
    }

    &:disabled::after {
      background: var(--#{$prefix}-switch-button-icon-on-state-fill-disabled);
    }
  }
}

:not(input[type='checkbox']).#{$prefix}-switch {
  display: inline-flex;
  align-items: center;
  gap: 16px;
  padding: 8px 0;

  input {
    @include input-styles;

    & + label {
      @include text-styles.body-regular;

      color: var(--#{$prefix}-switch-button-text-default);
    }

    &:hover {
      & + label {
        color: var(--#{$prefix}-switch-button-text-hover);
      }
    }

    &:checked {
      & + label {
        color: var(--#{$prefix}-switch-button-text-checked);
      }
    }

    &:active {
      & + label {
        color: var(--#{$prefix}-switch-button-text-active);
      }
    }

    &:focus {
      & + label {
        color: var(--#{$prefix}-switch-button-text-focus);
      }
    }

    &:disabled {
      & + label {
        color: var(--#{$prefix}-switch-button-text-disabled);
      }
    }
  }

  &--with-lock input {
    @include with-check-input-styles;
  }
}

input[type='checkbox'].#{$prefix}-switch {
  @include input-styles;

  &--check-icon {
    @include with-check-input-styles;
  }
}
