.container {
  width: 100%;
  display: flex;
  height: 200px;
  gap: 24px;
}

.v-card {
  flex-grow: 1;
  display: flex;
  justify-content: space-between;

  h2 {
    margin: 0;
    color: var(--v-colors-text-primary);
  }
}
