:root {
  --spacing-00: 0px;
  --spacing-01: 2px;
  --colors-blue-blue-100: #eaf6ff;
  --colors-blue-blue-200: #ccdeed;
  --colors-blue-blue-300: #99bdda;
  --colors-blue-blue-400: #669cc8;
  --colors-blue-blue-500: #337bb5;
  --colors-blue-blue-600: #005aa3;
  --colors-blue-blue-700: #004882;
  --colors-blue-blue-800: #003662;
  --colors-blue-blue-900: #002441;
  --colors-blue-blue-1000: #001221;
  --spacing-02: 4px;
  --spacing-03: 8px;
  --spacing-04: 12px;
  --spacing-05: 16px;
  --spacing-06: 24px;
  --spacing-07: 32px;
  --spacing-08: 40px;
  --colors-red-red-100: #fbecec;
  --colors-red-red-200: #f7d8d8;
  --colors-red-red-300: #efb2b2;
  --colors-red-red-400: #e78b8b;
  --colors-red-red-500: #df6565;
  --colors-red-red-600: #d73e3e;
  --colors-red-red-700: #ac3232;
  --colors-red-red-800: #812525;
  --colors-red-red-900: #561919;
  --colors-red-red-1000: #2b0c0c;
  --colors-orange-orange-100: #fff2e6;
  --colors-orange-orange-200: #ffe6cc;
  --colors-orange-orange-300: #ffcc99;
  --colors-orange-orange-400: #ffb366;
  --colors-orange-orange-500: #ff9933;
  --colors-orange-orange-600: #ff8000;
  --colors-orange-orange-700: #cc6600;
  --colors-orange-orange-800: #994d00;
  --colors-orange-orange-900: #663300;
  --colors-orange-orange-1000: #331a00;
  --colors-green-green-100: #eaf3ee;
  --colors-green-green-200: #d6e7dd;
  --colors-green-green-300: #accfba;
  --colors-green-green-400: #83b698;
  --colors-green-green-500: #599e75;
  --colors-green-green-600: #308653;
  --colors-green-green-700: #266b42;
  --colors-green-green-800: #1d5032;
  --colors-green-green-900: #133621;
  --colors-green-green-1000: #0a1b11;
  --colors-gray-gray-100: #f9f9f9;
  --colors-gray-gray-200: #f0f0f2;
  --colors-gray-gray-300: #e1e2e5;
  --colors-gray-gray-400: #d2d3d8;
  --colors-gray-gray-500: #7d808d;
  --colors-gray-gray-600: #5d6071;
  --colors-gray-gray-700: #4a4d5a;
  --colors-gray-gray-800: #383a44;
  --colors-gray-gray-900: #25262d;
  --colors-gray-gray-1000: #131317;
  --colors-yellow-yellow-100: #fff8e7;
  --colors-yellow-yellow-200: #fff0cf;
  --colors-yellow-yellow-300: #ffe1a0;
  --colors-yellow-yellow-400: #ffd370;
  --colors-yellow-yellow-500: #ffc441;
  --colors-yellow-yellow-600: #ffb511;
  --colors-yellow-yellow-700: #cc910e;
  --colors-yellow-yellow-800: #996d0a;
  --colors-yellow-yellow-900: #664807;
  --colors-yellow-yellow-1000: #332403;
  --spacing-09: 48px;
  --spacing-10: 64px;
  --spacing-11: 80px;
  --spacing-12: 96px;
  --colors-brand-primary: var(--colors-blue-blue-600);
  --colors-text-primary: var(--colors-gray-gray-1000);
  --colors-borders: var(--colors-gray-gray-200);
  --colors-info-backround: var(--colors-blue-blue-200);
  --colors-info-border: var(--colors-blue-blue-600);
  --colors-success-backround: var(--colors-green-green-100);
  --colors-success-border: var(--colors-green-green-600);
  --colors-warning-background: var(--colors-yellow-yellow-100);
  --colors-warning-border: var(--colors-yellow-yellow-1000);
  --colors-error-background: var(--colors-red-red-100);
  --colors-error-border: var(--colors-red-red-1000);
  --colors-neutral-white: #ffffff;
  --colors-surface-primary: var(--colors-neutral-white);
  --colors-text-secondary: var(--colors-gray-gray-700);
  --colors-text-tertiary: var(--colors-gray-gray-500);
  --colors-surface-secondary: var(--colors-gray-gray-100);
  --colors-surface-tertiary: var(--colors-gray-gray-200);
  --colors-surface-quadrary: var(--colors-gray-gray-300);
  --colors-surface-quinary: var(--colors-gray-gray-400);
  --buttons-theme-primary-background-default: var(--colors-brand-primary);
  --buttons-theme-primary-background-hover: var(--colors-blue-blue-900);
  --buttons-theme-primary-background-active: var(--colors-blue-blue-1000);
  --buttons-theme-primary-background-focus: var(--colors-blue-blue-900);
  --buttons-theme-primary-background-disabled: var(--colors-gray-gray-200);
  --colors-brand-secondary: var(--colors-gray-gray-1000);
  --buttons-theme-secondary-background-default: var(--colors-neutral-white);
  --buttons-theme-secondary-background-hover: var(--colors-blue-blue-100);
  --buttons-theme-secondary-background-active: var(--colors-blue-blue-200);
  --buttons-theme-secondary-background-focus: var(--colors-neutral-white);
  --buttons-theme-secondary-background-disabled: var(--colors-gray-gray-200);
  --colors-brand-tertiary: var(--colors-neutral-white);
  --buttons-theme-tertiary-default: var(--colors-brand-secondary);
  --buttons-theme-tertiary-hover: var(--colors-gray-gray-800);
  --buttons-theme-tertiary-active: var(--colors-gray-gray-1000);
  --buttons-theme-tertiary-focus: var(--colors-gray-gray-800);
  --buttons-theme-tertiary-disabled: var(--colors-gray-gray-200);
  --buttons-theme-success-default: var(--colors-brand-secondary);
  --buttons-theme-success-hover: var(--colors-gray-gray-800);
  --buttons-theme-success-active: var(--colors-gray-gray-1000);
  --buttons-theme-success-focus: var(--colors-gray-gray-800);
  --buttons-theme-success-disabled: var(--colors-gray-gray-200);
  --buttons-theme-error-default: var(--colors-brand-secondary);
  --buttons-theme-error-hover: var(--colors-gray-gray-800);
  --buttons-theme-error-active: var(--colors-gray-gray-1000);
  --buttons-theme-error-focus: var(--colors-gray-gray-800);
  --buttons-theme-error-disabled: var(--colors-gray-gray-200);
  --radius-01: 4px;
  --radius-02: 20px;
  --radius-03: 360px;
  --buttons-sizing-sm-padding-x: var(--spacing-05);
  --buttons-sizing-sm-padding-y: var(--spacing-03);
  --buttons-sizing-sm-corner-radius: var(--radius-01);
  --buttons-sizing-md-padding-x: var(--spacing-06);
  --buttons-sizing-md-padding-y: var(--spacing-04);
  --buttons-sizing-md-corner-radius: var(--radius-02);
  --buttons-sizing-lg-padding-x: var(--spacing-08);
  --buttons-sizing-lg-padding-y: var(--spacing-05);
  --buttons-sizing-lg-corner-radius: var(--radius-03);
  --colors-button-borders-focus: var(--colors-blue-blue-400);
  --buttons-theme-primary-border-default: var(--colors-brand-primary);
  --buttons-theme-primary-border-hover: var(--colors-blue-blue-900);
  --buttons-theme-primary-border-active: var(--colors-blue-blue-1000);
  --buttons-theme-primary-border-focus: var(--colors-blue-blue-900);
  --buttons-theme-primary-border-disabled: var(--colors-gray-gray-200);
  --buttons-theme-primary-text-default: var(--colors-neutral-white);
  --buttons-theme-primary-text-hover: var(--buttons-theme-primary-text-default);
  --buttons-theme-primary-text-active: var(--buttons-theme-primary-text-default);
  --buttons-theme-primary-text-focus: var(--buttons-theme-primary-text-default);
  --buttons-theme-primary-text-disabled: var(--colors-gray-gray-200);
  --buttons-theme-secondary-border-default: var(--colors-gray-gray-400);
  --buttons-theme-secondary-border-hover: var(--colors-blue-blue-600);
  --buttons-theme-secondary-border-active: var(--colors-blue-blue-600);
  --buttons-theme-secondary-border-focus: var(--colors-button-borders-focus);
  --buttons-theme-secondary-border-disabled: var(--colors-gray-gray-200);
  --buttons-theme-secondary-text-default: var(--colors-blue-blue-600);
  --buttons-theme-secondary-text-hover: var(--colors-blue-blue-600);
  --buttons-theme-secondary-text-active: var(--colors-blue-blue-600);
  --buttons-theme-secondary-text-focus: var(--colors-blue-blue-600);
  --buttons-theme-secondary-text-disabled: var(--colors-text-tertiary);
  --buttons-sizing-lg-padding-icon-only: var(--spacing-00);
  --buttons-sizing-md-padding-icon-only: var(--spacing-00);
  --buttons-sizing-sm-padding-icon-only: var(--spacing-00);
  --buttons-theme-tertiary-background-default: var(--colors-neutral-white);
  --buttons-theme-tertiary-background-hover: var(--colors-blue-blue-100);
  --buttons-theme-tertiary-background-active: var(--colors-blue-blue-200);
  --buttons-theme-tertiary-background-focus: var(--colors-neutral-white);
  --buttons-theme-tertiary-background-disabled: var(--colors-gray-gray-200);
  --buttons-theme-tertiary-border-default: var(--colors-neutral-white);
  --buttons-theme-tertiary-border-hover: var(--colors-blue-blue-100);
  --buttons-theme-tertiary-border-active: var(--colors-blue-blue-200);
  --buttons-theme-tertiary-border-focus: var(--colors-neutral-white);
  --buttons-theme-tertiary-border-disabled: var(--colors-gray-gray-200);
  --buttons-theme-tertiary-text-default: var(--colors-blue-blue-600);
  --buttons-theme-tertiary-text-hover: var(--colors-blue-blue-600);
  --buttons-theme-tertiary-text-active: var(--colors-blue-blue-600);
  --buttons-theme-tertiary-text-focus: var(--colors-blue-blue-600);
  --buttons-theme-tertiary-text-disabled: var(--colors-text-tertiary);
  --box-shadow-drop-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.2500);
  --box-shadow-focus: 0px 0px 0px 1px #ffffff, 0px 0px 0px 3px #669cc8;
  --box-shadow-elevation-2px: 0px 1px 5px 0px rgba(0, 0, 0, 0.2000);
  --box-shadow-elevation-4px: 0px 4px 10px 0px rgba(0, 0, 0, 0.1400);
}